<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/websocket
           http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <context:component-scan base-package="com.hibernate.controller, com.hibernate.websocket" />

<mvc:annotation-driven>
<mvc:message-converters register-defaults="true">
        <!-- Forces JSON to always take priority over XML for web requests -->
        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
    </mvc:message-converters></mvc:annotation-driven>
    <mvc:resources mapping="/resources/**" location="/resources/" />

    <bean class="org.springframework.web.context.request.RequestContextListener" />

    <mvc:interceptors>
    <mvc:interceptor>
        <mvc:mapping path="/**"/>
        
        <mvc:exclude-mapping path="/"/>
        <mvc:exclude-mapping path="/login"/>
        <mvc:exclude-mapping path="/register"/>
        <mvc:exclude-mapping path="/ws/**"/>
        <mvc:exclude-mapping path="/posts/**"/>
        <mvc:exclude-mapping path="/comments/**"/>
        <mvc:exclude-mapping path="/api/**"/>
        <mvc:exclude-mapping path="/like"/>
        <mvc:exclude-mapping path="/bookmark"/>
        <mvc:exclude-mapping path="/rating"/>
        
        <mvc:exclude-mapping path="/resources/**"/>
        <mvc:exclude-mapping path="/css/**"/>
        <mvc:exclude-mapping path="/js/**"/>
        <mvc:exclude-mapping path="/images/**"/>
        
        <bean class="com.hibernate.interceptor.AuthInterceptor"/>
    </mvc:interceptor>
</mvc:interceptors>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />

    <bean id="chatWebSocketHandler" class="com.hibernate.websocket.ChatWebSocketHandler" autowire="byType" />

    <websocket:handlers>
        <websocket:mapping path="/ws/chat" handler="chatWebSocketHandler"/>
        <websocket:handshake-interceptors>
            <bean class="org.springframework.web.socket.server.support.HttpSessionHandshakeInterceptor"/>
        </websocket:handshake-interceptors>
    </websocket:handlers>

</beans>